.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 15px;
  background: linear-gradient(135deg, #ffdd6e 0%, #68a2ff 100%);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: "Wendy One", sans-serif;
}

.quiz-question {
  font-size: 2rem;
  color: #232323;
  margin: 20px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.quiz-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 30px;
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  font-weight: bold;
}

.pokemon-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.current-pokemon-image {
  width: 300px;
  height: 300px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.current-pokemon-image:hover {
  transform: scale(1.05);
}

.choice-button-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 15px;
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.choice-button,
.new-game-button {
  cursor: pointer;
  border: 3px solid #3240d2;
  border-radius: 12px;
  background: rgb(33, 95, 182);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
    -2px -2px 4px rgba(255, 255, 255, 0.1);
  color: white;
  height: 80px;
  padding: 10px 15px;
  font-family: "Wendy One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.choice-button:hover,
.new-game-button:hover {
  transform: translateY(-3px);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
  background: rgb(14, 104, 230);
}

.choice-button:active {
  transform: translateY(1px);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.choice-button.correct {
  background: green;
  border-color: green;
  animation: pulse 0.5s ease-in-out;
}

.choice-button.incorrect {
  background: red;
  border-color: red;
  animation: shake 0.5s ease-in-out;
}

.choice-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  transform: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
